<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Application">
        <receiver
            android:name=".KnotifReceiver"
            android:enabled="true"
            android:exported="false"> <intent-filter>
            <action android:name="knotif.ACTION_PREVIOUS" />
            <action android:name="knotif.ACTION_NEXT" />
            <action android:name="knotif.ACTION_PLAY_PAUSE" />
            <action android:name="knotif.ACTION_NOTIFICATION_CLICK" />
        </intent-filter>
        </receiver>
    </application>

</manifest>